@charset "utf-8";
@media screen and (max-width: 5767px) {
    .top1 .name a{
        text-decoration: none;
        color:black;
    }
    *{
        margin: 0px;
        padding:0px;
    }
    body{
        width:100%;
        -webkit-text-size-adjust: 100%;
        font-family:sans-serif;    
    }

    html{
        overflow-x:hidden ;
        margin: 0 auto;
        width:100%;
        height:100%;
      background: cornsilk;
    }

      .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #275372;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }
    
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    #menu-btn-check {
        display: none;
    }
    
    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color:#ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }
    .menu-content {
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/*leftの値を変更してメニューを画面外へ*/
        
        z-index: 80;
        background-color: #4b5c68;
        transition: all 0.5s;/*アニメーション設定*/
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 50%;/*メニューを画面内へ*/
    }
    .name{    
        text-align: center;
        font-family: 'Bungee Shade', cursive;
        width:100%;
        color: black;
        background-color: rgb(74, 80, 84);
        line-height: 80px;

    }
    .logo{
        font-family: 'Bungee Shade', cursive;
    }

    .star{
        font-size: 8px;
    }

    .Q1 p{
        text-align: right;
        font-size: 10px;
        margin-bottom:10px;
        margin-top:0;

    }

    .Q1{
        width: 90%;
        margin: 0 auto;
        margin-top:20px;
        margin-bottom:20px;
        background-color: white;
        border: 1px solid white;
        border-radius: 20px;
    }

    .top_title{
        text-align:center;
        margin: 0 auto;
        margin-bottom: 0;
    }

    .Q1 img{
        width:85%;
        object-fit:contain;
    }

    .Q1 article{
        width: 90%;
        margin-left:5%;
        text-align: left;
    }
    .Q1 p{
        width: 90%;
        margin-left:5%;
        text-align: left;
    }

    .Q1_menu{
        display: flex;
        justify-content: center;
        border:1px solid black;
        width:50%;
        margin: 0 auto;
        margin-top:10px;
        margin-bottom:10px;
    }

    .Q1_menu_no{
        text-align: left;
        margin-left:5%;
        margin-top:40px;
        margin-bottom:5px;
    }

    .Q1_menu_sub{
        text-align: left;
        margin-left:8%;
        margin-top:10px;
        margin-bottom:15px;
    }

    .Q1 table{
        border-collapse: collapse;
        width:95%;
        margin: 0 auto;
        margin-top:10px;
    }
    tr:nth-child(odd){
        background-color: powderblue;
    }

    .table_name{
        width:40%;
    }

    .Q1 ol{
        width:60%;
        margin: 0 auto
    }

    footer h5{
        text-align: center;
        font-size:10px;
        
    }
    
    footer h3{
        border-top: 1px solid black;
        font-family: 'Bungee Shade', cursive;

        color: black;
        text-align: left;
    }

    footer{
        background-color:rgb(74, 80, 84) ;
    }

    .tag{
    
        margin-right:1%;
        margin-left:1.5%;
        border:1px solid black;
        border-radius: 5px;
        text-align: center;
        background-color: whitesmoke;
        font-size:10px;
    }
    span a{
        text-decoration: none;
        color: black;
    }
    
    .category span{
        font-size:15px;
        margin-right:1%;
    }
    .BTN{
        width:25%;
        margin: 0 auto;
        margin-bottom:20px;
        line-height: 35px;
    }
    .BTN a{
        text-decoration: none;
        color:white;
    }
    .BTN p{
        text-align: center;
        border:1px solid rgb(95, 102, 109);
        background-color: rgb(95, 102, 109);
        border-radius:10px;
        
    }

    iframe{
        height:490px;
        margin:0 auto;
        width:100%;
    }


}